<div class="header-w3layouts">
  <div class="container">
     <div class="header-bar">
        <nav class="navbar navbar-default">
           <div class="navbar-header navbar-left">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <h1><a class="navbar-brand" href="index.html">Convey
                 </a>
              </h1>
           </div>
           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
              <nav>
                 <ul class="nav navbar-nav">
                    <li class="active"><a routerLink="/"><span class="fa fa-home banner-nav" aria-hidden="true"></span>Home</a></li>
                    <li><a routerLink="/about"><span class="fa fa-info-circle banner-nav" aria-hidden="true"></span>About</a></li>
                    <li><a routerLink="/services"><span class="fa fa-cogs banner-nav" aria-hidden="true"></span>Services</a></li>
                    <li class="dropdown">
                       <a routerLink="/" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-file banner-nav" aria-hidden="true"></span>Pages<span class="caret"></span>
                       </a>
                       <ul class="dropdown-menu" role="menu">
                          <li>
                             <a routerLink="/webicons">Webicons</a>
                          </li>
                          <li>
                             <a routerLink="/shortcodes">Shortcodes</a>
                          </li>
                       </ul>
                    </li>
                    <li><a routerLink="/gallery"><span class="fa fa-picture-o banner-nav" aria-hidden="true"></span>Gallery</a></li>
                    <li><a routerLink="/contact"><span class="fa fa-envelope-o banner-nav" aria-hidden="true"></span>Contact</a></li>
                 </ul>
              </nav>
           </div>
        </nav>
     </div>
     <div class="clearfix"> </div>
  </div>
</div>
<div class="slider">
  <div class="callbacks_container">
     <ul class="rslides" id="slider4">
        <li>
           <div class="slider-img w3-oneimg">
              <div class="container">
                 <div class="slider-info">
                    <h6>The</h6>
                    <h4>International <br>Airway</h4>
                    <p>Quis autem vel eum iure reprehderit.Etiam sed odio consequat
                       tristique elit sed, molestie nulla.
                       velit sagittis vehicula. Duis posuere
                    </p>
                 </div>
              </div>
           </div>
        </li>
        <li>
           <div class="slider-img w3-twoimg">
              <div class="container">
                 <div class="slider-info">
                    <h6>Worldwide</h6>
                    <h4>Biggest <br> Network</h4>
                    <p>Quis autem vel eum iure reprehderit.Etiam sed odio consequat
                       tristique elit sed, molestie nulla.
                       velit sagittis vehicula. Duis posuere
                    </p>
                 </div>
              </div>
           </div>
        </li>
        <li>
           <div class="slider-img w3-threeimg">
              <div class="container">
                 <div class="slider-info">
                    <h6>Supplying</h6>
                    <h4>Secured<br> Transport</h4>
                    <p>Quis autem vel eum iure reprehderit.Etiam sed odio consequat
                       tristique elit sed, molestie nulla.
                       velit sagittis vehicula. Duis posuere
                    </p>
                 </div>
              </div>
           </div>
        </li>
     </ul>
  </div>
  <div class="clearfix"> </div>
  <!-- This is here just to demonstrate the callbacks -->
  <!-- <ul class="events">
     <li>Example 4 callback events</li>
     </ul>-->
</div>